.popup-link {
  color: dodgerblue;
  font-size: 14px;
  padding-left: 4px;
  cursor: pointer;
}
.heading-container {
  padding: 8px 7px 6px 15px;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
